<manifest
    package="com.TYDaily"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <original-package android:name="com.news" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name="com.news.TYAppliaction"
        android:allowBackup="true"
        android:icon="@mipmap/ty_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.news.activities.TYWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.news.activities.HomeTabsActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.news.activities.UserLoginActivity" />
        <activity android:name="com.news.activities.UserRegistActivity" />
        <activity android:name="com.news.activities.NewsSearchActivity" />
        <activity android:name="com.news.activities.MineSettingActivity" />
        <activity android:name="com.news.activities.FontSizeActivity" />
        <activity android:name="com.news.activities.UserInfoActivity" />
        <activity android:name="com.news.activities.MineCollectionActivity" />
        <activity android:name="com.news.activities.UserForgetActivity" />
        <activity android:name="com.news.activities.MineMessageActivity" />
        <activity android:name="com.news.activities.MineDownLoadActivity" />
        <activity android:name="com.news.activities.AboutUsActivity" />
        <activity android:name="com.news.activities.ReplyCommentActivity" />
        <activity android:name="com.news.activities.ManagerEditActivity" />
        <activity android:name="com.news.activities.SubjectDetailActivity" />
        <activity android:name="com.news.activities.NewsImageActivity" />
        <activity android:name="com.news.activities.NewsImagesActivity" />
        <activity android:name="com.news.activities.NewsCommentActivity" />
        <activity android:name="com.news.activities.VoiceDetailActivity" />
        <activity android:name="com.news.activities.ColumnNewsActivity" />
        <activity android:name="com.news.activities.ScoreIntroActivity" />
        <activity android:name="com.news.activities.FeedbackActivity" />
        <activity android:name="com.news.activities.NewsContentActivity" />
        <activity android:name="com.news.activities.MoreSubjectActivity" />
        <activity android:name="com.news.activities.VoteActivity" />

        <activity
            android:name="com.news.wxapi.WXEntryActivity"
            android:exported="true" />

        <!--// umeng-->
        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"></receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.TYDaily.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:label="PushService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="com.TYDaily.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.TYDaily.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>

        <service
            android:name="com.news.NewsPushService"
            android:label="PushService"
            android:exported="true"
            android:process=":push1" />

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:process=":push"
            android:exported="true">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5460db95fd98c5875f002d65"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="52940f76ad89e8af8bbc33ef079a14d9"></meta-data>
    </application>
</manifest>
